*.vssscc
MotionBodyGameServer/bin/Debug/Microsoft.Kinect.Toolkit.dll
MotionBodyGameServer/bin/Debug/Microsoft.Samples.Kinect.WpfViewers.dll
MotionBodyGameServer/bin/Debug/MotionBodyGameServer.exe
MotionBodyGameServer/bin/Debug/MotionBodyGameServer.exe.config
MotionBodyGameServer/bin/Debug/MotionBodyGameServer.pdb
MotionBodyGameServer/bin/Debug/MotionBodyGameServer.vshost.exe
MotionBodyGameServer/bin/Debug/MotionBodyGameServer.vshost.exe.config
MotionBodyGameServer/bin/Debug/MotionBodyGameServer.vshost.exe.manifest
MotionBodyGameServer/obj/Debug/App.baml
MotionBodyGameServer/obj/Debug/App.g.cs
MotionBodyGameServer/obj/Debug/App.g.i.cs
MotionBodyGameServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MotionBodyGameServer/obj/Debug/MainWindow.g.i.cs
MotionBodyGameServer/obj/Debug/MotionBodyGameServer.Properties.Resources.resources
MotionBodyGameServer/obj/Debug/MotionBodyGameServer.csproj.FileListAbsolute.txt
MotionBodyGameServer/obj/Debug/MotionBodyGameServer.csproj.GenerateResource.Cache
MotionBodyGameServer/obj/Debug/MotionBodyGameServer.csprojResolveAssemblyReference.cache
MotionBodyGameServer/obj/Debug/MotionBodyGameServer.exe
MotionBodyGameServer/obj/Debug/MotionBodyGameServer.g.resources
MotionBodyGameServer/obj/Debug/MotionBodyGameServer.pdb
MotionBodyGameServer/obj/Debug/MotionBodyGameServer_Content.g.cs
MotionBodyGameServer/obj/Debug/MotionBodyGameServer_Content.g.i.cs
MotionBodyGameServer/obj/Debug/MotionBodyGameServer_MarkupCompile.cache
MotionBodyGameServer/obj/Debug/MotionBodyGameServer_MarkupCompile.i.cache
MotionBodyGameServer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
MotionBodyGameServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MotionBodyGameServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MotionBodyGameServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MotionBodyGameServer/obj/Debug/UI/SkeletonWindow.g.i.cs
MotionBodyGameServer/obj/Debug/UI/TestParamsWindow.baml
MotionBodyGameServer/obj/Debug/UI/TestParamsWindow.g.cs
MotionBodyGameServer/obj/Debug/UI/TestParamsWindow.g.i.cs
MotionBodyGameServer/obj/Debug/UI/TestSocket.baml
MotionBodyGameServer/obj/Debug/UI/TestSocket.g.cs
MotionBodyGameServer/obj/Debug/UI/TestSocket.g.i.cs
MotionBodyGameServer/obj/Debug/UI/TestSocketWindow.baml
MotionBodyGameServer/obj/Debug/UI/TestSocketWindow.g.cs
MotionBodyGameServer/obj/Debug/UI/TestSocketWindow.g.i.cs
*.suo
